* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F2F2F2;
}

.page-wrapper {
    margin:3rem auto;
    min-height: 100vh;
    width: 80%;
    display: flex;
}

.left-section{
width: 30%;
    background-color: #025373;
    color: #80A7BF;

}
.right-section {
    background-color: #80A7BF;
    width: 70%;
    color: #025373;
    padding: 2rem;
}

.profile {
    border-bottom: 2px solid black;
    width: 90%;
}

.profile, .contact, .skills {
    margin: 5%;
}
.profile__image {
    margin: auto;
    border: 5px solid black;
    border-radius: 50%;
    width: 95%;
}
.profile__name {
    margin:auto;
    padding: 1rem 0;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;
}

.profile__job-name {
    margin:auto;
    padding: 1rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

.contact__title, .skills__title {
display: flex;
    color: #A0A7AF;
    margin: 1rem 0;
    padding-top: 2rem;
    align-items: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.skills__list li:hover {
    font-weight: bold;
}

.left-section li{
    padding: .5rem 0;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.left-section a {
    text-transform: none;
    font-size: 1.8rem;
    color: #80A7BF;
    text-decoration: none;
}

.left-section a:hover {
    color: lightskyblue;
}

.left-section i {
    font-size: 1.8rem;
    margin-right: 1.5rem;
}

.experience__title, .education__title {
    color: #34495E;
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.experience__job, .education_section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 4rem;
}

.education__univ__left-side,  .experience__job__left-side  {
    width: 55%;
}
.education__univ__right-side,.experience__job__right-side {
    width: 45%;
}

.education__univ__name, .experience__job__name{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #21638f;
    padding-bottom: 1rem;
}


.education__univ__title, .experience__job__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2E86C1;
    padding-bottom: 1rem;
}

.experience__job__years,.education__univ__years {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 2rem;
    border-bottom: saddlebrown 1px dot-dash;

}

.experience__job__description, .education__univ__description {
    border-left: 3px solid saddlebrown;
    padding-left: .5rem;


}

.strong {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.right-section li {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.right-section i {
    vertical-align: middle;
    font-size: 1rem;
    line-height: 2rem;
    padding-right: 0.5rem;
}

.right-section li:hover > i {
    color: lightblue;
}


.social a {
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    color: #025373;
}
.social {
    border-left: 3px solid saddlebrown;
    margin-top: 2rem;
    padding-left: .5rem;
}

.social i {
    padding-right: 0.5rem;
}
